{% set social_media_image_path = "/" ~ active_theme_path() ~ "/images/sprites/social-media" %}
{% set facebook_url = content.field_facebook[0]["#url"] %}
{% set twitter_url = content.field_twitter[0]["#url"] %}
{% set youtube_url = content.field_youtube[0]["#url"] %}
{% set instagram_url = content.field_instagram[0]["#url"] %}
{% set pinterest_url = content.field_pinterest[0]["#url"] %}
{% set podcast_url = content.field_podcast[0]["#url"] %}
{% set linkedin_url = content.field_linkedin[0]["#url"] %}
{% set google_plus_url = content.field_google_plus[0]["#url"] %}
{% set podcast_url = content.field_podcast[0]["#url"] %}
{% set blogger_url = content.field_blogger[0]["#url"] %}

{% set phone = content.field_phone[0]['#context']['value'] %}
{% set email = content.field_email[0]['#context']['value']%}

<div class="col-12 col-md" {{ attributes}}>

  <h2>{{ content.field_program_name }}</h2>

  <div class="contact-info">
    {{ content.field_contact_info }}
  </div>

  <div class="social-icons">
    {% if facebook_url %}
      <a href="{{ facebook_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="facebook">
          <title>Facebook profile</title><rect class="a" width="448" height="448"/><path class="b" d="M314.7,448V270.8h60.6l8.7-67.6H314.7V160c0-19.6,5.4-32.9,33.5-32.9H384V66.7A481.31,481.31,0,0,0,331.8,64c-51.6,0-87,31.5-87,89.4v49.9H184v67.6h60.9V448Z"/></svg>
      </a>
    {% endif %}
    {% if twitter_url %}
      <a href="{{ twitter_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="twitter">
          <title>Twitter profile</title><rect class="a" width="448" height="448"/><path
            class="b"
            d="M356.64,157.47c.21,3,.21,5.93.21,8.9,0,90.48-68.86,194.72-194.72,194.72A193.4,193.4,0,0,1,57,330.37a141.58,141.58,0,0,0,16.53.85,137.06,137.06,0,0,0,85-29.24,68.56,68.56,0,0,1-64-47.46,86.31,86.31,0,0,0,12.93,1.06,72.38,72.38,0,0,0,18-2.33,68.45,68.45,0,0,1-54.88-67.17v-.85a68.93,68.93,0,0,0,30.94,8.69,68.54,68.54,0,0,1-21.19-91.53A194.54,194.54,0,0,0,221.46,174a77.26,77.26,0,0,1-1.7-15.68,68.5,68.5,0,0,1,118.44-46.83A134.74,134.74,0,0,0,381.64,95a68.25,68.25,0,0,1-30.09,37.72A137.2,137.2,0,0,0,391,122.08a147.12,147.12,0,0,1-34.32,35.38Z"/></svg>
      </a>
    {% endif %}
    {% if youtube_url %}
      <a href="{{ youtube_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="youtube">
          <title>YouTube account</title><rect class="a" x="0.47" y="0.4" width="448" height="448"/><path
            class="b"
            d="M406.47,224.7s0-59.6-7.6-88.2a45.64,45.64,0,0,0-32.2-32.4c-28.3-7.7-142.2-7.7-142.2-7.7s-113.9,0-142.2,7.7a45.64,45.64,0,0,0-32.2,32.4c-7.6,28.5-7.6,88.2-7.6,88.2s0,59.6,7.6,88.2a45,45,0,0,0,32.2,31.9c28.3,7.6,142.2,7.6,142.2,7.6s113.9,0,142.2-7.7a45,45,0,0,0,32.2-31.9c7.6-28.5,7.6-88.1,7.6-88.1Z"/><polygon class="a" points="190.87 170.3 286.07 224.4 190.87 278.5 190.87 170.3"/></svg>
      </a>
    {% endif %}
    {% if instagram_url %}
      <a href="{{ instagram_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 448 448" class="instagram">
          <defs>
            <style>
              .a {
                fill: url("#a");
              }
              .b {
                fill: #fff;
              }
            </style>
            <lineargradient id="a" y1="447.9" x2="448" y2="-0.1" gradientunits="userSpaceOnUse"><stop offset="0" stop-color="#ffdf15"/><stop offset="0.01" stop-color="#feda18"/><stop offset="0.13" stop-color="#ec9d39"/><stop offset="0.23" stop-color="#e07152"/><stop offset="0.31" stop-color="#d85561"/><stop offset="0.35" stop-color="#d54b67"/><stop offset="0.68" stop-color="#af2397"/><stop offset="1" stop-color="#5d58cf"/></lineargradient>
          </defs>
          <title>Instagram feed</title><rect class="a" y="-0.1" width="448" height="448"/><path
            class="b"
            d="M224.41,129a95.4,95.4,0,1,0,95.4,95.4A95.25,95.25,0,0,0,224.41,129Zm0,157.43a62,62,0,1,1,62-62,62.14,62.14,0,0,1-62,62ZM346,125.1a22.25,22.25,0,1,1-22.25-22.25A22.2,22.2,0,0,1,346,125.1Zm63.19,22.58c-1.41-29.81-8.22-56.21-30.06-78s-48.16-28.56-78-30.06c-30.72-1.74-122.8-1.74-153.52,0-29.72,1.41-56.13,8.22-78,30s-28.56,48.16-30.06,78c-1.74,30.72-1.74,122.8,0,153.52,1.41,29.81,8.22,56.21,30.06,78s48.16,28.56,78,30.06c30.72,1.74,122.8,1.74,153.52,0,29.81-1.41,56.21-8.22,78-30.06s28.56-48.16,30.06-78c1.74-30.72,1.74-122.72,0-153.44Zm-39.69,186.4a62.79,62.79,0,0,1-35.37,35.37c-24.49,9.71-82.62,7.47-109.68,7.47s-85.27,2.16-109.68-7.47a62.79,62.79,0,0,1-35.37-35.37c-9.71-24.49-7.47-82.62-7.47-109.68s-2.16-85.27,7.47-109.68a62.79,62.79,0,0,1,35.37-35.37c24.49-9.71,82.62-7.47,109.68-7.47s85.27-2.16,109.68,7.47a62.79,62.79,0,0,1,35.37,35.37c9.71,24.49,7.47,82.62,7.47,109.68S379.18,309.67,369.46,334.08Z"/></svg>
      </a>
    {% endif %}
    {% if linkedin_url %}
      <a href="{{ linkedin_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="linkedin">
          <title>LinkedIn profile</title><rect class="a" x="-0.2" y="0.22" width="448" height="448"/><path
            class="b"
            d="M122.5,407.27h-76V162.42h76ZM84.43,129c-24.31,0-44-20.14-44-44.45a44,44,0,1,1,88.08,0C128.47,108.89,108.75,129,84.43,129ZM407.13,407.27H331.24V288.08c0-28.41-.57-64.83-39.54-64.83-39.54,0-45.6,30.86-45.6,62.79V407.27h-76V162.42h72.94v33.4h1.06c10.15-19.24,35-39.54,72-39.54,76.95,0,91.11,50.67,91.11,116.49v134.5Z"/></svg>
      </a>
    {% endif %}
    {% if pinterest_url %}
      <a href="{{ pinterest_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="pinterest">
          <title>Pinterest boards</title><rect class="a" width="448" height="448"/><path
            class="b"
            d="M232.55,64.16C163.91,64.16,96.08,109.92,96.08,184c0,47.1,26.49,73.85,42.55,73.85,6.62,0,10.44-18.46,10.44-23.68,0-6.22-15.85-19.47-15.85-45.36,0-53.79,40.94-91.92,93.92-91.92,45.56,0,79.27,25.89,79.27,73.45,0,35.52-14.25,102.15-60.41,102.15-16.66,0-30.91-12-30.91-29.3,0-25.29,17.66-49.77,17.66-75.86,0-44.29-62.82-36.26-62.82,17.26,0,11.24,1.4,23.68,6.42,33.92-9.23,39.74-28.1,98.94-28.1,139.88,0,12.64,1.81,25.09,3,37.73,2.27,2.54,1.14,2.27,4.62,1,33.72-46.16,32.51-55.19,47.76-115.6,8.23,15.65,29.5,24.08,46.36,24.08,71,0,103-69.24,103-131.65C353,107.51,295.56,64.16,232.55,64.16Z"/></svg>
      </a>
    {% endif %}
    {% if podcast_url %}
      <a href="{{ podcast_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="podcast">
          <title>Podcast</title><rect class="a" width="448" height="448"/><path
            class="b"
            d="M255.16,391.23C251.47,404.87,237.53,408,224,408s-27.47-3.18-31.15-16.81c-5.48-20.39-14.76-71.5-14.76-95.28,0-25.22,22.34-31.38,45.91-31.38s45.91,6.17,45.91,31.38c0,23.64-9.23,74.73-14.76,95.28ZM175.85,247.75a68.87,68.87,0,1,1,96.32,0,4.31,4.31,0,0,0,.45,6.59,47.73,47.73,0,0,1,15.23,18.19,4.28,4.28,0,0,0,6.78,1.36A103,103,0,0,0,327.27,196C325.94,141.34,281.65,96.87,227,95.32a103.25,103.25,0,0,0-73.61,178.57,4.28,4.28,0,0,0,6.78-1.35,47.72,47.72,0,0,1,15.23-18.19,4.31,4.31,0,0,0,.45-6.59ZM224,40.75a160.74,160.74,0,0,0-70.49,305.17,4.3,4.3,0,0,0,6.12-4.53c-1.71-11.13-3.11-22.2-3.88-31.81a4.32,4.32,0,0,0-1.92-3.24,126.23,126.23,0,0,1-56.09-105.7c.42-69,56.88-125.29,125.92-125.47a126.23,126.23,0,0,1,68.74,232.33c-.72,10.07-2.2,21.94-4,33.88a4.3,4.3,0,0,0,6.12,4.53A160.74,160.74,0,0,0,224,40.75Zm0,114.78a45.91,45.91,0,1,0,45.91,45.91A45.91,45.91,0,0,0,224,155.53Z"/></svg>
      </a>
    {% endif %}
    {% if blogger_url %}
      <a href="{{ blogger_url }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 448" class="blogger">
          <title>Blog feed</title><rect class="a" width="448" height="448"/><path
            class="b"
            d="M371,202.22c-1.19-5.28-4.49-10.17-8.25-12.22-1.19-.66-8.59-1.45-16.51-1.78-13.27-.59-14.73-.86-19-3.3-6.67-3.9-8.45-8.12-8.52-19.48-.07-21.79-9.11-42.07-27-60.29-12.75-13-27-21.79-43.26-26.75-3.9-1.19-12.61-1.58-41.8-1.92-45.83-.53-56,.4-71.59,6.6-28.73,11.36-49.33,35.53-56.86,66.43-1.39,5.81-1.72,15.12-2,68.61-.4,67,.07,76.87,4.23,90.14,10.3,32.76,39.56,57,68.94,62.27,9.77,1.78,130.29,2.18,142.64.53,21.46-2.91,38.3-11.56,54.09-27.67,11.42-11.69,18.56-24.3,23.25-41,3.24-11.62,3-94.3,1.65-100.18Zm-212.71-42c5.15-5.22,6.6-5.42,38.83-5.42,29,0,30,.07,34.21,2.25,6.14,3.1,8.85,7.46,8.85,14.46,0,6.27-2.51,10.7-8.12,14.26-3,1.92-4.82,2-33.22,2.18-17.5.13-31.5-.26-33.55-.79C154.32,184.06,150.23,168.34,158.29,160.22ZM284.95,292.17l-9.84,1.58-51.18.59c-45,.53-57.65-.26-60-1.32-4.69-2-9.11-7.73-9.84-12.81-.73-4.82,1.72-11.42,5.42-14.79,4.69-4.23,6.74-4.36,64.26-4.42,59.17-.07,58.84-.07,64.45,5.15a16.31,16.31,0,0,1-3.24,26Z"/></svg>
      </a>
    {% endif %}
  </div>
</div>
