{# Category landing page content type. 
Redesigned Dec 2021. #}

{{ attach_library('coffey/category-landing-page') }}

<section class="row">
  <div class="col-12 col-md-5">
      <div class="coffey-featured">
          {{ content.field_photo }}
          <div class="content-area">
              {{ content.body }}
          </div>
      </div>
  </div>
  <div class="col-12 col-md-7">
      {{ content.field_featured_blocks }}
  </div>
</section>

<section class="clp-main">
  <aside class="page-nav" aria-label="anchor links">
    {{ content.field_nav }}
  </aside>
  <section class="category-section-container">
    {# See paragraph--category-sections.html.twig#}
    {{ content|without("body", "field_nav", "field_photo", "field_featured_blocks") }}
  </section>
</section>