{# Deadlines were created for local offices. 
There was a need for a way to display deadline-type information and the fields for events were too complex. 
These will NOT display on the main /courses-and-events page, but will display on local office event pages.
They will display very similar to events. #}

{% set pageTitle = label[0]["#context"].value %}
{% set dateString = content.field_start_date[0]["#markup"] %}
{% set addCal = content.field_add_to_calendar %}
{% set relatedEvents = content.field_related_events[0] %}
{% set hideStartTime = (content.field_hide_start_time[0]["#markup"] == "True") %}

{{ attach_library('coffey/flex') }}
{{ attach_library('coffey/events') }}

<section class="row" aria-labelledby="page-title">
  <article class="col-12 col-sm-5 col-md-4">        
    <div class="event-info maroon-bg">
      <h2>Deadline</h2>
      {% include '@coffey/includes/deadline/deadline-date.html.twig' %}
      {% include '@coffey/includes/deadline/deadline-time.html.twig' %}
      {# Add to calendar button #}
      {% if addCal[0]['#markup'] != 'Add to Calendar Disabled' %}
        {{ addCal }}
      {% endif %}
    </div>
    {{ drupal_view('events_from_local_office', 'block_1') }}
  </article>
  <article class="col-12 col-sm-7 col-md-8 event-body"> 
    {{ content.body }}
    {% if relatedEvents %}
      <h2>Related event</h2>
      <div class="related-event-deadline">
        {{ relatedEvents }}
      </div>
    {% endif %}
  </article>
</section>