{# Related category section links - paragraph type. 
Automatically pulls all the links that appear in a Category Section on a CLP, if fields are set up correctly. #}
<div class="side-nav" {{ attributes }}>
  <p class="back-to">
    <a href="{{ content.category_landing_page_url }}" aria-label="Back to {{ content.category_landing_page_title }}">{{ content.category_landing_page_title }}</a>
  </p>
  <h2>
    <a href="{{ content.category_landing_page_section_url }}" aria-label="Back to {{ content.related_links_title }}">{{ content.related_links_title }}</a>
  </h2>
  {{ content.related_links }}
</div>